Repository discordjs/discord.js-modules: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ext mjs,js,ts, prettier --write

feat(Rest): improve global rate limit and invalid request tracking
  packages/rest/__tests__/RequestHandler.test.ts
  packages/rest/src/lib/REST.ts
  packages/rest/src/lib/RequestManager.ts
  packages/rest/src/lib/handlers/SequentialHandler.ts
  packages/rest/src/lib/utils/constants.ts
  packages/rest/src/lib/utils/utils.ts
Due: eslint --fix --ext mjs,js,ts

chore: repo cleanup
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/tsc.json
  .github/workflows/lint-cron.yml
  .github/workflows/lint.yml
  .github/workflows/test-cron.yml
  .github/workflows/test.yml
  babel.config.js
  tsup.config.ts
Due: eslint --fix --ext mjs,js,ts, prettier --write

feat(Rest): improve global rate limit and invalid request tracking (#51)
  packages/rest/__tests__/RequestHandler.test.ts
  packages/rest/src/lib/REST.ts
  packages/rest/src/lib/RequestManager.ts
  packages/rest/src/lib/handlers/SequentialHandler.ts
  packages/rest/src/lib/utils/constants.ts
  packages/rest/src/lib/utils/utils.ts
Due: eslint --fix --ext mjs,js,ts

ci: fix caching for yarn
  .github/workflows/test.yml
Due: prettier --write

ci: fix cache for real
  .github/workflows/test.yml
Due: prettier --write

feat(RateLimits): optionally error on ratelimits
  packages/rest/__tests__/RequestHandler.test.ts
  packages/rest/src/index.ts
  packages/rest/src/lib/REST.ts
  packages/rest/src/lib/RequestManager.ts
  packages/rest/src/lib/errors/RateLimitError.ts
  packages/rest/src/lib/handlers/SequentialHandler.ts
  packages/rest/src/lib/utils/constants.ts
Due: eslint --fix --ext mjs,js,ts

refactor(RateLimitError): new rules
  packages/rest/src/lib/errors/RateLimitError.ts
Due: eslint --fix --ext mjs,js,ts

fix: typo
  packages/rest/__tests__/RequestHandler.test.ts
Due: eslint --fix --ext mjs,js,ts

fix: import from files, not index
  packages/rest/src/lib/RequestManager.ts
  packages/rest/src/lib/handlers/SequentialHandler.ts
Due: eslint --fix --ext mjs,js,ts

docs: fix typos
  packages/rest/src/lib/REST.ts
Due: eslint --fix --ext mjs,js,ts

chore: open collective funding
  .github/FUNDING.yml
Due: prettier --write

feat(Requests): add attachment keys and form data for stickers
  packages/rest/__tests__/REST.test.ts
  packages/rest/src/lib/RequestManager.ts
Due: eslint --fix --ext mjs,js,ts

feat: expose https agent options
  packages/rest/src/lib/REST.ts
  packages/rest/src/lib/RequestManager.ts
  packages/rest/src/lib/utils/constants.ts
Due: eslint --fix --ext mjs,js,ts

docs: fix typos
  packages/rest/src/lib/REST.ts
  packages/rest/src/lib/handlers/SequentialHandler.ts
Due: eslint --fix --ext mjs,js,ts

refactor(RequestManager): better prop naming
  packages/rest/__tests__/REST.test.ts
  packages/rest/src/lib/RequestManager.ts
Due: eslint --fix --ext mjs,js,ts

docs: improve docs
  packages/rest/src/lib/RequestManager.ts
Due: eslint --fix --ext mjs,js,ts

feat: expose https agent options (#82)
  packages/rest/src/lib/REST.ts
  packages/rest/src/lib/RequestManager.ts
  packages/rest/src/lib/utils/constants.ts
Due: eslint --fix --ext mjs,js,ts

chore: add myself as contributor in package.json
  package.json
  packages/core/package.json
  packages/ws/package.json
Due: prettier --write

feat(Requests): add attachment keys and form data for stickers (#81)
  packages/rest/__tests__/REST.test.ts
  packages/rest/src/lib/RequestManager.ts
Due: eslint --fix --ext mjs,js,ts

fix(Cdn): make parameters immutable
  packages/rest/src/lib/CDN.ts
Due: eslint --fix --ext mjs,js,ts

feat(RateLimits): optionally error on ratelimits (#77)
  packages/rest/__tests__/RequestHandler.test.ts
  packages/rest/src/index.ts
  packages/rest/src/lib/REST.ts
  packages/rest/src/lib/RequestManager.ts
  packages/rest/src/lib/errors/RateLimitError.ts
  packages/rest/src/lib/handlers/SequentialHandler.ts
  packages/rest/src/lib/utils/constants.ts
Due: eslint --fix --ext mjs,js,ts

fix(Cdn): make parameters immutable (#84)
  packages/rest/src/lib/CDN.ts
Due: eslint --fix --ext mjs,js,ts

fix(CDN): use correct types
  packages/rest/src/lib/CDN.ts
Due: eslint --fix --ext mjs,js,ts

fix(CDN): use correct types (#86)
  packages/rest/src/lib/CDN.ts
Due: eslint --fix --ext mjs,js,ts

chore: add myself as contributor in package.json (#83)
  package.json
  packages/core/package.json
  packages/ws/package.json
Due: prettier --write

feat(SequentialHandler): add more info to debug when rate limit was hit
  packages/rest/src/lib/handlers/SequentialHandler.ts
Due: eslint --fix --ext mjs,js,ts

feat(Rest): add response and request events
  packages/rest/__tests__/REST.test.ts
  packages/rest/src/lib/REST.ts
  packages/rest/src/lib/RequestManager.ts
  packages/rest/src/lib/handlers/SequentialHandler.ts
  packages/rest/src/lib/utils/constants.ts
Due: eslint --fix --ext mjs,js,ts

feat: added `@discordjs/sharder` module
  packages/sharder/CHANGELOG.md
  packages/sharder/README.md
  packages/sharder/__tests__/.gitkeep
  packages/sharder/package.json
  packages/sharder/src/ShardingManager.ts
  packages/sharder/src/index.ts
  packages/sharder/src/messages/BaseMessageHandler.ts
  packages/sharder/src/messages/IMessageHandler.ts
  packages/sharder/src/messages/JsonMessageHandler.ts
  packages/sharder/src/shards/BaseShardHandler.ts
  packages/sharder/src/shards/IShardHandler.ts
  packages/sharder/src/shards/ProcessShardHandler.ts
  packages/sharder/src/utils/types.ts
  packages/sharder/src/utils/utils.ts
  packages/sharder/tsconfig.json
  packages/sharder/tsup.config.ts
  yarn.lock
Due: eslint --fix --ext mjs,js,ts, prettier --write

feat: made many changes
  packages/sharder/src/ShardingManager.ts
  packages/sharder/src/index.ts
  packages/sharder/src/messages/IMessageHandler.ts
  packages/sharder/src/messages/RawMessageHandler.ts
  packages/sharder/src/shards/BaseProcessShardHandler.ts
  packages/sharder/src/shards/BaseShardHandler.ts
  packages/sharder/src/shards/ClusterProcessShardHandler.ts
  packages/sharder/src/shards/ForkProcessShardHandler.ts
  packages/sharder/src/shards/IShardHandler.ts
  packages/sharder/src/utils/utils.ts
Due: eslint --fix --ext mjs,js,ts

feat: add `fetchRecommendedShards` and minor tweaks
  packages/sharder/package.json
  packages/sharder/src/ShardingManager.ts
  packages/sharder/src/shards/IShardHandler.ts
  packages/sharder/src/utils/utils.ts
  yarn.lock
Due: eslint --fix --ext mjs,js,ts, prettier --write

docs: documented code, consolidated API
  packages/sharder/src/ShardingManager.ts
  packages/sharder/src/shards/BaseShardHandler.ts
  packages/sharder/src/shards/IShardHandler.ts
Due: eslint --fix --ext mjs,js,ts

chore(RequestManager): use new file upload format
  packages/rest/__tests__/REST.test.ts
  packages/rest/src/lib/RequestManager.ts
Due: eslint --fix --ext mjs,js,ts

chore(RequestManager): use new file upload format (#88)
  packages/rest/__tests__/REST.test.ts
  packages/rest/src/lib/RequestManager.ts
Due: eslint --fix --ext mjs,js,ts

feat: animated banners
  packages/rest/src/lib/CDN.ts
Due: eslint --fix --ext mjs,js,ts

test: add tests for banners
  packages/rest/__tests__/CDN.test.ts
Due: eslint --fix --ext mjs,js,ts

feat(Rest): add response and request events (#85)
  packages/rest/__tests__/REST.test.ts
  packages/rest/src/lib/REST.ts
  packages/rest/src/lib/RequestManager.ts
  packages/rest/src/lib/handlers/SequentialHandler.ts
  packages/rest/src/lib/utils/constants.ts
Due: eslint --fix --ext mjs,js,ts

feat(SequentialHandler): add more info to debug when rate limit was hit (#78)
  packages/rest/src/lib/handlers/SequentialHandler.ts
Due: eslint --fix --ext mjs,js,ts

chore(Deps): update `@sapphire/snowflake` to `^3.0.0`
  packages/rest/package.json
  yarn.lock
Due: prettier --write

chore(Deps): update `@sapphire/snowflake` to `^3.0.0` (#89)
  packages/rest/package.json
  yarn.lock
Due: prettier --write

Path conditions:
  eslint --fix --ext mjs,js,ts: any of: *.{mjs,js,ts}
  prettier --write: any of: *.{json,yml,yaml}
