Repository discordjs/discord.js-modules: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ext mjs,js,ts, prettier --write

revert: something i blindly changed
  packages/rest/__tests__/CDN.test.ts
Due: eslint --fix --ext mjs,js,ts

move discord.js to dev deps
  packages/typeguards/package.json
Due: prettier --write

Update packages/typeguards/src/lib/button.ts
  packages/typeguards/src/lib/button.ts
Due: eslint --fix --ext mjs,js,ts

rename to type-utils
  packages/type-utils/CHANGELOG.md
  packages/type-utils/README.md
  packages/type-utils/__tests__/button.test.ts
  packages/type-utils/__tests__/command.test.ts
  packages/type-utils/package.json
  packages/type-utils/src/index.ts
  packages/type-utils/src/lib/button.ts
  packages/type-utils/src/lib/command.ts
  packages/type-utils/src/lib/util/enum.ts
  packages/type-utils/tsconfig.json
Due: eslint --fix --ext mjs,js,ts, prettier --write

fix readme
  packages/type-utils/README.md
Due: none

feat(CDN#guildIcon): implement dynamic logic (#53)
  packages/rest/__tests__/CDN.test.ts
  packages/rest/src/lib/CDN.ts
Due: eslint --fix --ext mjs,js,ts

feat: add role icon CDN endpoint
  packages/rest/__tests__/CDN.test.ts
  packages/rest/src/lib/CDN.ts
Due: eslint --fix --ext mjs,js,ts

docs: add review suggestions
  packages/rest/src/lib/CDN.ts
Due: eslint --fix --ext mjs,js,ts

feat(REST): change api version to v9
  packages/rest/__tests__/DiscordAPIError.test.ts
  packages/rest/__tests__/REST.test.ts
  packages/rest/src/lib/REST.ts
  packages/rest/src/lib/utils/constants.ts
Due: eslint --fix --ext mjs,js,ts

feat(CDN): add sticker endpoints
  packages/rest/__tests__/CDN.test.ts
  packages/rest/src/lib/CDN.ts
  packages/rest/src/lib/utils/constants.ts
Due: eslint --fix --ext mjs,js,ts

fix: do something about it
  packages/rest/src/lib/CDN.ts
  packages/rest/src/lib/utils/constants.ts
Due: eslint --fix --ext mjs,js,ts

refactor(RatelimitData): rename to RateLimitData
  packages/rest/src/lib/REST.ts
Due: eslint --fix --ext mjs,js,ts

feat(REST): change api version to v9 (#62)
  packages/rest/__tests__/DiscordAPIError.test.ts
  packages/rest/__tests__/REST.test.ts
  packages/rest/src/lib/REST.ts
  packages/rest/src/lib/utils/constants.ts
Due: eslint --fix --ext mjs,js,ts

refactor(RatelimitData): rename to RateLimitData (#61)
  packages/rest/src/lib/REST.ts
Due: eslint --fix --ext mjs,js,ts

feat(CDN): add role icon endpoint (#64)
  packages/rest/__tests__/CDN.test.ts
  packages/rest/src/lib/CDN.ts
Due: eslint --fix --ext mjs,js,ts

feat(Rest): use native Node.js AbortController
  packages/rest/package.json
  packages/rest/src/lib/handlers/SequentialHandler.ts
  yarn.lock
Due: eslint --fix --ext mjs,js,ts, prettier --write

fix(CDN#icon): remove `guild` prefixes
  packages/rest/__tests__/CDN.test.ts
  packages/rest/src/lib/CDN.ts
Due: eslint --fix --ext mjs,js,ts

feat(CDN): guild member avatars
  packages/rest/__tests__/CDN.test.ts
  packages/rest/src/lib/CDN.ts
Due: eslint --fix --ext mjs,js,ts

refactor: use `node:` prefixed imports for built-in modules
  packages/rest/src/lib/REST.ts
  packages/rest/src/lib/RequestManager.ts
  packages/rest/src/lib/handlers/SequentialHandler.ts
Due: eslint --fix --ext mjs,js,ts

feat(RequestManager): support setting global headers in options
  packages/rest/src/lib/REST.ts
  packages/rest/src/lib/RequestManager.ts
  packages/rest/src/lib/utils/constants.ts
Due: eslint --fix --ext mjs,js,ts

chore: correct typo
  packages/rest/src/lib/REST.ts
Due: eslint --fix --ext mjs,js,ts

feat(RequestManager): support setting global headers in options (#70)
  packages/rest/src/lib/REST.ts
  packages/rest/src/lib/RequestManager.ts
  packages/rest/src/lib/utils/constants.ts
Due: eslint --fix --ext mjs,js,ts

feat(CDN): guild member avatars (#68)
  packages/rest/__tests__/CDN.test.ts
  packages/rest/src/lib/CDN.ts
Due: eslint --fix --ext mjs,js,ts

docs(CDN#guildMemberAvatar): use correct parameter name
  packages/rest/src/lib/CDN.ts
Due: eslint --fix --ext mjs,js,ts

chore: upgrade jest to fix workflow
  package.json
  yarn.lock
Due: prettier --write

feat(Errors): show data sent when an error occurs
  packages/rest/__tests__/DiscordAPIError.test.ts
  packages/rest/src/lib/RequestManager.ts
  packages/rest/src/lib/errors/DiscordAPIError.ts
  packages/rest/src/lib/errors/HTTPError.ts
  packages/rest/src/lib/handlers/IHandler.ts
  packages/rest/src/lib/handlers/SequentialHandler.ts
Due: eslint --fix --ext mjs,js,ts

fix: use hash instead of animatedHash for default avatar test
  packages/rest/__tests__/CDN.test.ts
Due: eslint --fix --ext mjs,js,ts

refactor: use the `node:` protocol (#69)
  package.json
  packages/rest/src/lib/REST.ts
  packages/rest/src/lib/RequestManager.ts
  packages/rest/src/lib/handlers/SequentialHandler.ts
  yarn.lock
Due: eslint --fix --ext mjs,js,ts, prettier --write

fix: use hash instead of animatedHash for default avatar test (#74)
  packages/rest/__tests__/CDN.test.ts
Due: eslint --fix --ext mjs,js,ts

docs(CDN#guildMemberAvatar): use correct parameter name (#71)
  packages/rest/src/lib/CDN.ts
Due: eslint --fix --ext mjs,js,ts

fix(CDN#icon): remove `guild` prefixes (#67)
  packages/rest/__tests__/CDN.test.ts
  packages/rest/src/lib/CDN.ts
Due: eslint --fix --ext mjs,js,ts

Apply suggestions from code review
  packages/rest/src/lib/errors/DiscordAPIError.ts
  packages/rest/src/lib/errors/HTTPError.ts
Due: eslint --fix --ext mjs,js,ts

feat(Rest): use native Node.js AbortController (#66)
  packages/rest/package.json
  packages/rest/src/lib/handlers/SequentialHandler.ts
  yarn.lock
Due: eslint --fix --ext mjs,js,ts, prettier --write

feat(Errors): show data sent when an error occurs (#72)
  packages/rest/__tests__/DiscordAPIError.test.ts
  packages/rest/src/lib/RequestManager.ts
  packages/rest/src/lib/errors/DiscordAPIError.ts
  packages/rest/src/lib/errors/HTTPError.ts
  packages/rest/src/lib/handlers/IHandler.ts
  packages/rest/src/lib/handlers/SequentialHandler.ts
Due: eslint --fix --ext mjs,js,ts

feat(CDN): add sticker endpoints (#60)
  packages/rest/__tests__/CDN.test.ts
  packages/rest/src/lib/CDN.ts
  packages/rest/src/lib/utils/constants.ts
Due: eslint --fix --ext mjs,js,ts

chore: bump deps & update to yarn v3
  .gitignore
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.0.2.cjs
  .yarnrc.yml
  package.json
  packages/core/package.json
  packages/rest/package.json
  packages/ws/package.json
  yarn.lock
Due: prettier --write

chore: minor changes
  .gitignore
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.0.2.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

chore: bump deps (#76)
  package.json
  packages/core/package.json
  packages/rest/package.json
  packages/ws/package.json
  yarn.lock
Due: prettier --write

chore: overhaul build system
  .husky/.gitignore
  README.md
  babel.config.js
  package.json
  packages/core/package.json
  packages/core/tsconfig.json
  packages/core/tsup.config.ts
  packages/rest/package.json
  packages/rest/src/lib/CDN.ts
  packages/rest/src/lib/RequestManager.ts
  packages/rest/src/lib/errors/DiscordAPIError.ts
  packages/rest/src/lib/errors/HTTPError.ts
  packages/rest/src/lib/handlers/SequentialHandler.ts
  packages/rest/src/tsconfig.json
  packages/rest/tsconfig.json
  packages/rest/tsup.config.ts
  packages/tsconfig.base.json
  packages/tsconfig.json
  packages/ws/package.json
  packages/ws/tsconfig.json
  packages/ws/tsup.config.ts
  tsconfig.base.json
  tsconfig.eslint.json
  tsconfig.json
  tsup.config.ts
  yarn.lock
Due: eslint --fix --ext mjs,js,ts, prettier --write

Path conditions:
  eslint --fix --ext mjs,js,ts: any of: *.{mjs,js,ts}
  prettier --write: any of: *.{json,yml,yaml}
