Repository discordjs/discord.js-modules: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ext mjs,js,ts, prettier --write

chore: fixup package.json
  package.json
  packages/core/package.json
  packages/rest/package.json
  packages/ws/package.json
Due: prettier --write

chore: env-cmd for lerna publish
  package.json
  packages/rest/package.json
  yarn.lock
Due: prettier --write

chore(Rest): remove /core dependency
  packages/rest/package.json
  packages/rest/src/lib/handlers/SequentialHandler.ts
Due: eslint --fix --ext mjs,js,ts, prettier --write

chore(Core): mark as private, remove `sleep`
  packages/core/__tests__/.gitkeep
  packages/core/__tests__/index.test.ts
  packages/core/package.json
  packages/core/src/index.ts
Due: eslint --fix --ext mjs,js,ts, prettier --write

chore(Rest): remove `/core` dependency (#43)
  packages/core/__tests__/.gitkeep
  packages/core/__tests__/index.test.ts
  packages/core/package.json
  packages/core/src/index.ts
  packages/rest/package.json
  packages/rest/src/lib/handlers/SequentialHandler.ts
Due: eslint --fix --ext mjs,js,ts, prettier --write

chore: re-activate pushing for lerna
  lerna.json
Due: prettier --write

chore: change scope case in lerna publish
  lerna.json
Due: prettier --write

chore(Release): publish
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/rest/CHANGELOG.md
  packages/rest/package.json
  packages/ws/CHANGELOG.md
  packages/ws/package.json
Due: prettier --write

chore: update readme
  README.md
Due: none

chore: update readme.md
  README.md
Due: none

refactor(SequentialHandler): improve type check for variable in catch
  packages/rest/src/lib/handlers/SequentialHandler.ts
Due: eslint --fix --ext mjs,js,ts

refactor(SequentialHandler): improve type check for variable in catch (#46)
  packages/rest/src/lib/handlers/SequentialHandler.ts
Due: eslint --fix --ext mjs,js,ts

chore(Support): update d.js server invite link
  .github/SUPPORT.md
Due: none

chore(Contributing): update d.js server invite link
  .github/CONTRIBUTING.md
Due: none

chore(Conduct): update d.js server invite link
  .github/CODE_OF_CONDUCT.md
Due: none

chore(GitHub): update d.js server invite link
  .github/ISSUE_TEMPLATE/config.yml
Due: prettier --write

chore(GitHub): update d.js server link
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

chore: update server link
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

refactor(Rest): `xID ` to `xId`
  packages/rest/src/lib/CDN.ts
  packages/rest/src/lib/RequestManager.ts
  packages/rest/src/lib/handlers/IHandler.ts
  packages/rest/src/lib/handlers/SequentialHandler.ts
Due: eslint --fix --ext mjs,js,ts

chore: update urls
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  README.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/rest/CHANGELOG.md
  packages/rest/package.json
  packages/ws/CHANGELOG.md
  packages/ws/package.json
Due: prettier --write

refactor(Rest): `xID` to `xId` (#49)
  packages/rest/src/lib/CDN.ts
  packages/rest/src/lib/RequestManager.ts
  packages/rest/src/lib/handlers/IHandler.ts
  packages/rest/src/lib/handlers/SequentialHandler.ts
Due: eslint --fix --ext mjs,js,ts

chore: update repo/branch name (#50)
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  README.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/rest/CHANGELOG.md
  packages/rest/package.json
  packages/ws/CHANGELOG.md
  packages/ws/package.json
Due: prettier --write

feat(CDN#guildIcon): implement dynamic logic
  packages/rest/__tests__/CDN.test.ts
  packages/rest/src/lib/CDN.ts
Due: eslint --fix --ext mjs,js,ts

chore: update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Due: none

chore: update Discord.js server invite (#47)
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/SUPPORT.md
Due: prettier --write

fix(Rest): use reference type for DOM
  package.json
  packages/rest/src/index.ts
  packages/rest/src/lib/RequestManager.ts
  packages/rest/tsconfig.json
Due: eslint --fix --ext mjs,js,ts, prettier --write

refactor(CDN): generalize method names
  packages/rest/src/lib/CDN.ts
Due: eslint --fix --ext mjs,js,ts

fix: update tests
  packages/rest/__tests__/CDN.test.ts
Due: eslint --fix --ext mjs,js,ts

fix: thank you ts-expect-error
  packages/rest/__tests__/CDN.test.ts
Due: eslint --fix --ext mjs,js,ts

fix(Rest): use reference type for DOM (#55)
  package.json
  packages/rest/src/index.ts
  packages/rest/src/lib/RequestManager.ts
  packages/rest/tsconfig.json
Due: eslint --fix --ext mjs,js,ts, prettier --write

refactor(CDN): generalize method names (#56)
  packages/rest/__tests__/CDN.test.ts
  packages/rest/src/lib/CDN.ts
Due: eslint --fix --ext mjs,js,ts

chore: update CONTRIBUTING.md (#54)
  .github/CONTRIBUTING.md
Due: none

chore: deps
  package.json
  packages/rest/package.json
  yarn.lock
Due: prettier --write

test(Rest): unnecessary assertion
  packages/rest/__tests__/REST.test.ts
Due: eslint --fix --ext mjs,js,ts

feat: typeguards package
  packages/typeguards/CHANGELOG.md
  packages/typeguards/README.md
  packages/typeguards/__tests__/button.test.ts
  packages/typeguards/__tests__/command.test.ts
  packages/typeguards/package.json
  packages/typeguards/src/index.ts
  packages/typeguards/src/lib/button.ts
  packages/typeguards/src/lib/command.ts
  packages/typeguards/src/lib/util/enum.ts
  packages/typeguards/tsconfig.json
  yarn.lock
Due: eslint --fix --ext mjs,js,ts, prettier --write

fix: fix broken test
  packages/rest/__tests__/CDN.test.ts
Due: eslint --fix --ext mjs,js,ts

Path conditions:
  eslint --fix --ext mjs,js,ts: any of: *.{mjs,js,ts}
  prettier --write: any of: *.{json,yml,yaml}
