Repository discordjs/discord.js-modules: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ext mjs,js,ts, prettier --write

.lintstagedrc.json:

{
	"*.{mjs,js,ts}": "eslint --fix --ext mjs,js,ts",
	"*.{json,yml,yaml}": "prettier --write"
}

chore: deps
  package.json
  packages/rest/package.json
  yarn.lock
Due: prettier --write

fix(Rest): lint errors
  packages/rest/__tests__/REST.test.ts
  packages/rest/__tests__/RequestHandler.test.ts
  packages/rest/src/lib/RequestManager.ts
  packages/rest/src/lib/errors/DiscordAPIError.ts
Due: eslint --fix --ext mjs,js,ts

chore(Release): publish
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/rest/CHANGELOG.md
  packages/rest/package.json
  packages/ws/CHANGELOG.md
  packages/ws/package.json
Due: prettier --write

chore: cleanup after tests
  jest.config.js
  jest.setup.js
Due: eslint --fix --ext mjs,js,ts

fix(RequestManager): optional headers prioritized over defaults
  packages/rest/src/lib/RequestManager.ts
Due: eslint --fix --ext mjs,js,ts

feat(RequestManager): allow multiple body content-types
  packages/rest/src/lib/RequestManager.ts
Due: eslint --fix --ext mjs,js,ts

feat(Rest): add support for oauth2 endpoints
  packages/rest/__tests__/DiscordAPIError.test.ts
  packages/rest/__tests__/REST.test.ts
  packages/rest/src/lib/RequestManager.ts
  packages/rest/src/lib/errors/DiscordAPIError.ts
  packages/rest/src/lib/handlers/SequentialHandler.ts
Due: eslint --fix --ext mjs,js,ts

fix: capitalization
  packages/rest/src/lib/errors/DiscordAPIError.ts
  packages/rest/src/lib/handlers/SequentialHandler.ts
Due: eslint --fix --ext mjs,js,ts

feat: more things
  packages/sharder/package.json
  packages/sharder/src/ShardingManager.ts
  packages/sharder/src/messages/BaseMessageHandler.ts
  packages/sharder/src/messages/BinaryMessageHandler.ts
  packages/sharder/src/messages/IMessageHandler.ts
  packages/sharder/src/messages/JsonMessageHandler.ts
  packages/sharder/src/messages/RawMessageHandler.ts
  packages/sharder/src/shards/BaseProcessShardHandler.ts
  packages/sharder/src/shards/BaseShardHandler.ts
  packages/sharder/src/shards/IShardHandler.ts
  packages/sharder/src/utils/ShardPing.ts
  yarn.lock
Due: eslint --fix --ext mjs,js,ts, prettier --write

refactor: add strategy names and maps
  packages/sharder/src/ShardingManager.ts
  packages/sharder/src/index.ts
  packages/sharder/src/messages/BinaryMessageHandler.ts
  packages/sharder/src/messages/JsonMessageHandler.ts
  packages/sharder/src/messages/RawMessageHandler.ts
  packages/sharder/src/messages/base/BaseMessageHandler.ts
  packages/sharder/src/messages/base/IMessageHandler.ts
  packages/sharder/src/messages/index.ts
  packages/sharder/src/server/ShardPing.ts
  packages/sharder/src/server/clusters/base/BaseClusterHandler.ts
  packages/sharder/src/server/clusters/base/IClusterHandler.ts
  packages/sharder/src/server/clusters/index.ts
  packages/sharder/src/server/clusters/process/BaseProcessClusterHandler.ts
  packages/sharder/src/server/clusters/process/ClusterProcessClusterHandler.ts
  packages/sharder/src/server/clusters/process/ForkProcessClusterHandler.ts
  packages/sharder/src/server/utils/utils.ts
  packages/sharder/src/shards/ClusterProcessShardHandler.ts
  packages/sharder/src/shards/ForkProcessShardHandler.ts
Due: eslint --fix --ext mjs,js,ts

feat(Rest): add support for oauth2 endpoints (#93)
  packages/rest/__tests__/DiscordAPIError.test.ts
  packages/rest/__tests__/REST.test.ts
  packages/rest/src/lib/RequestManager.ts
  packages/rest/src/lib/errors/DiscordAPIError.ts
  packages/rest/src/lib/handlers/SequentialHandler.ts
Due: eslint --fix --ext mjs,js,ts

chore: add turborepo
  .github/workflows/test.yml
  .gitignore
  lerna.json
  package.json
  packages/core/package.json
  packages/core/tsconfig.eslint.json
  packages/rest/package.json
  packages/rest/tsconfig.eslint.json
  packages/ws/package.json
  packages/ws/tsconfig.eslint.json
  yarn.lock
Due: prettier --write

ci: fix linting
  .github/workflows/test.yml
Due: prettier --write

chore: yarn v3
  .github/workflows/test.yml
  .gitignore
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.1.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

fix(Rest): remove DOM reference types
  packages/rest/src/index.ts
  packages/rest/src/lib/RequestManager.ts
  packages/rest/src/lib/global.ts
Due: eslint --fix --ext mjs,js,ts

refactor: rename attachment to file
  packages/rest/__tests__/DiscordAPIError.test.ts
  packages/rest/__tests__/REST.test.ts
  packages/rest/src/lib/REST.ts
  packages/rest/src/lib/RequestManager.ts
  packages/rest/src/lib/errors/DiscordAPIError.ts
  packages/rest/src/lib/errors/HTTPError.ts
  packages/rest/src/lib/handlers/IHandler.ts
  packages/rest/src/lib/handlers/SequentialHandler.ts
Due: eslint --fix --ext mjs,js,ts

chore: bump LICENSE year
  LICENSE
Due: none
